<a href="https://colab.research.google.com/github/curoled345/Markdown/blob/main/0623_colab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코렙 테스트

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
get_ipython().system('python --version')

Python 3.11.13

In [3]:
exit()

In [4]:
!C:\Users\iseong>python myfile.py

/bin/bash: line 1: C:Usersiseong: command not found

In [1]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

5와 2를 비교하여 if문을 사용하여 비교

In [2]:
x = 5
y = "Hello, World!"

In [3]:
print("Cheers, Mate!")

Cheers, Mate!

In [4]:
x = 5
y = "John"
print(x)
print(y)

5
John

x=5, y=John이라는 문자열을 입력하여 출력

In [5]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [6]:
myVariableName = "John"

In [7]:
my_variable_name = "John"

In [8]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [9]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [10]:
x = 5
y = 10
print(x + y)

15

In [11]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [12]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [13]:
import random
print(random.randrange(1, 100))

92

In [14]:
x = int(1)
y = int(2.8)
z = int("3")

In [15]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [16]:
x = str("s1")
y = str(2)
z = str(3.0)

In [17]:
a = "Hello"
print(a)

Hello

In [18]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [19]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
b = "Hello, World!"
print(b[2:5])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = " Hello, World! "
print(a.strip())

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [24]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [23]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [22]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [21]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [20]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a